* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1220px;
  min-height: 100vh;
  background-color: #e6e5f4;
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 20px 0 40px 0;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}