* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1220px;
  min-height: 100vh;
  background-color: #e6e5f4;
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 20px 0 40px 0;
}

.nav-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 50px;
}

.button {
  background-color: #78c99a;
  color: #ffffff;
  height: 45px;
  width: auto;
  font-size: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 30px;
  transition: all 1000ms;
  transition-timing-function: ease;
}

.button:hover {
  transform: scale(1.2);
  background-color: #cac45b;
  color: #000000;
}

.main {
  grid-area: main;
  display: grid;
  grid-template: repeat(2, 200px) / repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: 200px;
  justify-content: center;
  grid-gap: 10px 30px;
  padding: 25px;
}

.div {
  background-color: #540b82;
  color: #f0f8ff;
  font-size: 25px;
  display: grid;
  grid-template: auto / auto;
  justify-items: center;
  align-items: center;
  transition: all 1500ms;
  transition-timing-function: ease;
}

.div:hover {
  transform: rotate(180deg);
}

.footer {
  grid-area: footer;
}